body {
  font-family: 'Roboto', sans-serif;
}

/* DEBUG */
.debug {
  background-color: pink;
  border: 1px solid black;
}
/* /DEBUG */

/* MIX */
.list-inline {
  margin-bottom: 0;
}

.bg--grey {
  background-color: #f3f5f9;
}

.font-color-secondary {
  color: #006aff;
}

/* /MIX */

/* BUTTONS */
.btn_primary {
  border: 1px solid #006aff;
}

.btn-secondary {
  background-color: #579aff;
  color: #fff;
  width: 100%;
}

.btn-sso {
  background-color: #fff;
  background-image: url('../img/google-icon.png');
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: 2% 50%;
  width: 100%;
  color: #626262;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .2);
}
/* /BUTTONS */

/* TYPO */
h1 {
  font-size: 58px;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
}
/* /TYPO */


/* introduzione */
/* header top */
.header__top {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__top .logo {
  width: 172px;
  margin-bottom: 9px;
}

.main_nav li , .secondary_nav li {
  margin-right: 10px;
}

.main_nav li a, .secondary_nav li a {
  color: #000;
  font-size: 14px;
}

.main_nav li a:hover, .secondary_nav li a:hover {
  color: rgb(0, 106, 255);
  text-decoration: none;
}

.secondary_nav li .btn_primary {
  color: rgb(0, 106, 255);
}

.hamburger {
  font-size: 20px;
  color: rgba(58,138,255,255);
}
/* /header top */

/* hero */
.hero {
  background-color: #0069ff;
  background-image: url('../img/hero-bg.svg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 140px 0 70px 0;
}

.hero__text {
  font-size: 22px;
  color: #bbcdff;
}

.hero .box-form {
  min-height: 120px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 20px;
  color: #000;
}

.box-form__main-title {
  line-height: 40px;
}

.form,
.btn-secondary,
.btn-sso {
  margin-bottom: 10px;
}

.box-form_terms {
  text-decoration: underline;
  color: #0069ff;
}
/* /hero */
/* /introduzione */

/* main */
/* brands */
#brands {
  padding: 30px 0;
}

.brands__title {
  color: #5b6987;
}

.brands__list {
  padding: 20px 0;
}

.brands__list li {
  width: calc( ( 100% / 6 ) - 4px );
  height: auto;
}

.brands__list li .brand {
  width: 100%;
}

.brands__anchor .arrow-right {
  font-size: 10px;
}

.brands__anchor {
  font-weight: 700;
}
/* /brands */
/* /main */










/* RESPONSIVE */

/* < 992px */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }

  /* main */
  /* section brands */
  .brands__title {
    font-size: 16px;
  }
  /* /main */
  /* /section brands */
}
/* /< 992px */

/* < 768px */
@media screen and (max-width: 768px) {
  .brands__list li {
    width: calc( ( 100% / 2 ) - 44px );
    margin: 0 20px;
    height: auto;
  }

  .brands__list li .brand {
    width: 80%;
  }
}
/* /< 768px */

/* /RESPONSIVE */
